<!DOCTYPE html>
<html>
<head>
	<title>Life expenses</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<script src="./lifeExpenses.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="./lifeExpenses.css">
	
</head>
<body onload="graph()">
	<header style="text-align:center">
		
		<a href="lifeExpenses.html">
		<img alt="logo" src="./slike/logo1.png">
		</a>
	</header>

<div class="row">

	<div class="col-2 col-m-12">
		<div>
			<ul>
			  <li><a class="active" href="lifeExpenses.html">Home</a></li>
			  <li><a href="transactionAcc.html">Transaction account</a></li>
			  <li><a href="savingsAcc.html">Savings account</a></li>
			  <li><a href="wallet.html">Wallet</a></li>
			  <li><a href="/odjava">Log out</a></li>
			</ul>
		</div>
	</div>
	<div class="col-5 col-m-12">
		<div class="main">
				<div>
				<div class="account">
					<h4>Transaction account</h4>
					<div class="acc-content">

					Account credit:<br>
					<noscript>100</noscript>
					<div id="tvalue"><%= racuni[0].credit %>&euro; </div>
					</div>
					<button onClick="parent.location='transactionAcc.html'" class="accbtn">Manage</button>
				</div>

				<div class="account">
					<h4>Savings account</h4>
					<div class="acc-content">
					Account credit:<br>
					<noscript>100</noscript>
					<div id="svalue"><%= racuni[1].credit %>&euro;</div>
					</div>
					<button onClick="parent.location='savingsAcc.html'" class="accbtn">Manage</button>
				</div>

				<div class="account">
				<h4>Wallet</h4>
					<div class="acc-content">
					Account credit:<br>
					<noscript>100</noscript>
					<div id="wvalue"><%= racuni[2].credit %>&euro;</div>
					</div>
					<button onClick="parent.location='wallet.html'" class="accbtn">Manage</button>
				</div>
			</div>
			<noscript>
				<img alt="graf" class="slika" src="./slike/graf.jpg">
			</noscript>
			<div class="canvas">
				<canvas id="platno" class="platno">
				No canvas suppport in your browser.
				</canvas>
			</div>
		</div>

	</div>
	<div class="col-5 col-m-12">
		<div class="main" id="idgoals">
			<button class="addbtn" onclick="hide()" id="addGoal">Hide</button>
			<div id="formgoal" class="account">
				<h4>Goal</h4>
				<div class="goal-content">
				<form action="/goal" method="post">
					Save:<br>
					<input id="valueMoney" type="number" required="required" name="value" placeholder="150&euro;"><br>
					
					Until: <br>(example: 2016-12-30)<br>
					<input id="valueDate" type="date" name="date"/><br>
					
					<input id="loginbtn" class="accbtn" type="submit" value="Add">
				</form>
				
				</div>
				
			</div>
			<% for(var i = 0; i < cilji.length; i++){ %>
				<div id="<%= cilji[i].goal_id %>" class="goal">
					<h4>Goal</h4>
					<div class="goal-content">
					Save:<br>
					<%= cilji[i].amount %>&euro;<br>
					Until:<br>
					<%= cilji[i].date %> <br>
					</div>
					<form action="/deleteGoal" method="post">
						<input type="hidden" value="<%= cilji[i].goal_id %>" name="id">
						<input id="done" class="accbtn" type="submit" value="Done">
					</form>
					
					</div>
			<% } %>
			<div></div>
			
				<noscript>
				<div id="1" class="goal">
					<h4>Goal</h4>
					<div class="goal-content">
					Save:<br>
					100&euro;<br>
					Until:<br>
					2017-2-27
					</div>
					<button onclick="deletethis(1)" class="accbtn">Done</button>
				</div>
				<div id="2" class="goal">
					<h4>Goal</h4>
					<div class="goal-content">
					Save:<br>
					200&euro;<br>
					Until:<br>
					2016-12-31
					</div>
					<button  onclick="deletethis(2)" class="accbtn">Done</button>
				</div>
				</noscript>
			
		</div>

	</div>
</div>
</body>
</html>